/*如果启用了css modules :global 包含的块的类名不会被重写 */
:global{
	.test-css-module{
		color: #fff;
		line-height: 40px;
		height: 40px;
		background-color: skyblue;
		a{
			color: red;
		}
	}
}
.header{
	line-height: 40px;
	height: 40px;
	background-color: skyblue;
	color: #fff;
	text-indent: 20px;
	a{
		color: red;
	}
}