@import '../../assets/styles/_variable.css';
@import '../../assets/styles/_mixins.css';
@import '../../assets/styles/_extends.css';

.footer{
	background: #fff;
	min-width: $min_width;
	@extend layout_responsive;
	margin-top: px2em(90,100);
	padding-top: px2em(56,100);
	padding-bottom: px2em(76,100);
	border-top: px2em(1,100) dotted #999;
	text-align: center;
	p{
		font-size: px2em(14,100);
		line-height: 1;
		margin-top: px2em(14,14);
		a{
			color: inherit;
			text-decoration: none;
			margin: 0 px2em(14,14); 
		}
		span{
			margin: 0 px2em(10,14);
		}
	}
}