<!-- <div class="banner">
	<img src="../../assets/images/banner-1.jpg" alt="">
</div> -->
<div id="banner">
	<a class="arrow-left" href="#"></a> 
	<a class="arrow-right" href="#"></a> 
	<div class="swiper-container" id="bannerSwiper"> 
		<div class="swiper-wrapper">
			<div class="swiper-slide" id="swiper-slide1">
				<div class="inner">
					<h2>2017</h2>
					<p class="p1" data-swiper-parallax="-1500">
						互联网精准营销专家
					</p>
					<p class="p2" data-swiper-parallax="-3000">
						<span>专注为企业提供全方位的互联网营销解决方案</span>
					</p>
				</div>
			</div>
			<div class="swiper-slide" id="swiper-slide2">
				<div class="inner">
					<h2 data-swiper-parallax="-500">一群人  永不停止</h2>
					<p data-swiper-parallax="-1500">商业与技术的完美结合  为客户持续创造价值</p>
				</div>
			</div>
			<div class="swiper-slide" id="swiper-slide3">
				<div class="inner">
					<h2 data-swiper-parallax="-500">合作共赢</h2>
					<p data-swiper-parallax="-1500">容曝光率与效率  提高企业宣传爆点与范围  快速转化价值</p>
				</div>
			</div>
			<div class="swiper-slide" id="swiper-slide4">
				<div class="inner">
					<h2 data-swiper-parallax="-500">一站式互联网服务项目体系  </h2>
					<p data-swiper-parallax="-1500">诚挚为您提供优质的服务与创新</p>
				</div>
			</div>
		</div>
	</div>
	<div id="bannerpagination" class="pagination"></div>
</div>