<section id="banner">
	<a class="arrow-left" href="#"></a> 
	<a class="arrow-right" href="#"></a> 
	<div class="swiper-container" id="bannerSwiper"> 
		<div class="swiper-wrapper">
			<div class="swiper-slide" id="swiper-slide1">
				<div class="inner">
					<h2>2017</h2>
					<p class="p1" data-swiper-parallax="-1500">
						互联网精准营销专家
					</p>
					<p class="p2" data-swiper-parallax="-3000">
						<span>专注为企业提供全方位的互联网营销解决方案</span>
					</p>
				</div>
			</div>
			<div class="swiper-slide" id="swiper-slide2">
				<div class="inner">
					<h2 data-swiper-parallax="-500">一群人  永不停止</h2>
					<p data-swiper-parallax="-1500">商业与技术的完美结合  为客户持续创造价值</p>
				</div>
			</div>
			<div class="swiper-slide" id="swiper-slide3">
				<div class="inner">
					<h2 data-swiper-parallax="-500">合作共赢</h2>
					<p data-swiper-parallax="-1500">容曝光率与效率  提高企业宣传爆点与范围  快速转化价值</p>
				</div>
			</div>
			<div class="swiper-slide" id="swiper-slide4">
				<div class="inner">
					<h2 data-swiper-parallax="-500">一站式互联网服务项目体系  </h2>
					<p data-swiper-parallax="-1500">诚挚为您提供优质的服务与创新</p>
				</div>
			</div>
		</div>
	</div>
	<div id="bannerpagination" class="pagination"></div>
</section>
<section class="products">
	<h2>一站式互联网服务项目体系，只为创造适合您的产品</h2>
	<p>帮助企业建立互联网思维，让企业打造适合本身的网络营销宣传方式</p>
	<div class="list-warrpper">
		<ul class="list-1">
			<li>
				<div>
					<img src="../../assets/images/products-icon-1.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
			<li>
				<div>
					<img src="../../assets/images/products-icon-2.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
			<li>
				<div>
					<img src="../../assets/images/products-icon-3.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
			<li>
				<div>
					<img src="../../assets/images/products-icon-4.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
		</ul>
		<ul class="list-2">
			<li>
				<div>
					<img src="../../assets/images/products-icon-5.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
			<li>
				<div>
					<img src="../../assets/images/products-icon-6.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
			<li>
				<div>
					<img src="../../assets/images/products-icon-7.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
			<li>
				<div>
					<img src="../../assets/images/products-icon-8.png" alt="">
				</div>
				<strong>餐饮美食</strong>
			</li>
		</ul>
	</div>
</section>
<section class="company">
	<h2>互联网体验与营销转化并重的企业首选</h2>
	<p>公司拥有资深的程序研发团队和销售团队，高级项目管理流程，确保创意与策略可靠落地</p>
	<div class="contain">
		<ul class="list">
			<li>
				<div>
					<img src="../../assets/images/company-1.jpg" alt="">
				</div>
				<p>10年专注互联网建设，截至目前为1000多家企业服务超过30000个案例项目</p>
			</li>
			<li>
				<div>
					<img src="../../assets/images/company-2.jpg" alt="">
				</div>
				<p>互联网化服务团队，一流的项目流程品牌策略+创意设计+技术开发+运营</p>
			</li>
			<li>
				<div>
					<img src="../../assets/images/company-3.jpg" alt="">
				</div>
				<p>W3C国家标准，专业的互联网体验设计开发能力</p>
			</li>
			<li>
				<div>
					<img src="../../assets/images/company-4.jpg" alt="">
				</div>
				<p>专业集团化企业运营管理，真正实现企业线上线下一体化，助力企业O2O互联网+</p>
			</li>
		</ul>
	</div>
</section>

<section class="advantage">
	<h2>我们的优势</h2>
	<p>摇摇互动以策略 设计 技术 服务为核心 为客户持续创造价值</p>
	<div class="contain">
		<div class="pic">
			<img src="../../assets/images/cup.png" alt="">
		</div>
		<div class="t">
			<h3>精准营销</h3>
			<p>一类人群 + 一个需求 + 一种风格</p>
		</div>
		<div class="l-t">
			<h3>APP应用程序</h3>
			<p>基于ios/Android应用开发，掌控智能终端时代</p>
		</div>
		<div class="l-b">
			<h3>技术优势</h3>
			<p>优选渠道，数据分析，优化内容</p>
		</div>
		<div class="r-b">
			<h3>服务优势</h3>
			<p>提升获取潜在客户的数量，与咨询量</p>
		</div>
		<div class="r-t">
			<h3>智能硬件</h3>
			<p>集互动、娱乐营销为一体的智能终端研发</p>
		</div>
	</div>
</section>

<section class="team">
	<div class="warpper">
		<div class="l">
			<h2>熔练团队 激情无限</h2>
			<p>专业细分团队铸就高效的项目管理，团队成员中来自百度、小米、360集团、阿里巴巴、谷歌，汇聚业内顶尖互联网开发、运营、资深策划、设计等专业人才，所有团队人员都从事互联网行业5年以上，具有深厚的互联网行业经验，保证创意与策略的全面落地！</p>
		</div>
		<div class="r">
			<p>专业</p>
			<p>诚信</p>
		</div>
	</div>
</section>

<section class="customer">
	<h2>1000多次使用者，为多家终端客户实现商业与技术的完美结合</h2>
	<div class="warpper">
		<ul>
			<li>
				<div class="customer-1">
					<img src="../../assets/images/customer-1.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="customer-2">
					<img src="../../assets/images/customer-2.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="customer-3">
					<img src="../../assets/images/customer-3.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="customer-4">
					<img src="../../assets/images/customer-4.jpg" alt="">
				</div>
			</li>
		</ul>
		<ul>
			<li>
				<div class="customer-5">
					<img src="../../assets/images/customer-5.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="customer-6">
					<img src="../../assets/images/customer-6.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="customer-7">
					<img src="../../assets/images/customer-7.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="customer-8">
					<img src="../../assets/images/customer-8.jpg" alt="">
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="about-us">
	<div class="inner">
		<h2>关于我们</h2>
		<p>四川摇摇互动网络科技有限责任公司（简称摇摇互动）是领先的大数据软件和解决方案服务提供商，坐落于世界最大单体建筑成都市环球中心内，办公面积近600㎡，环境优越，互联网氛围浓郁。摇摇互动致力于“数据挖掘、场景互动、精准定位、周边共享”的软硬件技术服务解决方案。技术研发团队主要来自于腾讯、阿里等互联网知名企业，是一家集数据挖掘分析、软硬件研发、销售、服务为一体的高新互联网技术应用企业。公司主要基于物联网和大数据从事商业智能相关业务，为广大中小企业提供专业的互联网数据营销解决方案，帮助中小企业建立互联网思维，打造适合自身的网络营销宣传方式，利用互联网技术提高企业在线上的整体品牌影响力及对外竞争力，增加顾客的满意度，最终提高经营业绩。目前已累计为1500余家中小企业提供技术服务。公司主要产品是基于大数据分析技术的数据应用平台——多客加APP，产品集数据采集、移动互联网数据分析及数据应用（包括数据挖掘、数据优化、数据存储、数据备份）等服务为一体，力争打造成为国内最为完善的大数据生态圈系统。公司坚持以创新为基础，让科技融入生活，打造互联网+DATA+Media的大数据O2M共享经济新模式。</p>	
	</div>
</section>

<section class="news">
	<h2>新闻动态</h2>
	<p>无与伦比的企业风度 让您了解不一样的摇摇互动</p>
	<div class="warpper">
		<ul>
			<li>
				<div class="pic">
					<img src="../../assets/images/news-1.jpg" alt="">
				</div>
				<div class="txt">
					<h3>国庆放假通知</h3>
					<p class="date">2017.09.25</p>
					<p class="more">
						<a href=""><span>MORE</span></a>
					</p>
				</div>
			</li>
			<li>
				<div class="pic">
					<img src="../../assets/images/news-2.jpg" alt="">
				</div>
				<div class="txt">
					<h3>交流学习大会</h3>
					<p class="date">2017.09.10</p>
					<p class="more">
						<a href=""><span>MORE</span></a>
					</p>
				</div>
			</li>
			<li>
				<div class="pic">
					<img src="../../assets/images/news-3.jpg" alt="">
				</div>
				<div class="txt">
					<h3>公司团队建设</h3>
					<p class="date">2017.08.30</p>
					<p class="more">
						<a href=""><span>MORE</span></a>
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="contact-us">
	<h2>联系我们</h2>
	<p>只需简单一步 财富由您掌握</p>
	<div class="warpper">
		<ul>
			<li>
				<div class="pic phone">
					<img src="../../assets/images/phone.png" alt="">
				</div>
				<h4>咨询热线</h4>
				<p>028-68730871</p>
			</li>
			<li>
				<div class="pic email">
					<img src="../../assets/images/email.png" alt="">
				</div>
				<h4>企业邮箱</h4>
				<p>kefu@dokebo.cn</p>
			</li>
			<li>
				<div class="pic loc">
					<img src="../../assets/images/loc.png" alt="">
				</div>
				<h4>公司地址</h4>
				<p>成都市天府大道北段1700号<br/>环球中心N2区902室</p>
			</li>
		</ul>
	</div>
</section>
